@import './variables.scss';

@include react-md-everything;

html, body{
    margin: 0;
    padding: 0;
    background-color: $md-grey-50;
}

app {
    header.md-toolbar {
        //background-color: $md-white-base;

        .md-title{
            font-family: 'Product Sans';
            font-weight: 600;

            span {
                font-weight: 300;
            }
        }

        .login-btn{
            background-color: $md-orange-900;
        }
    }
}